- content_for :title do
  %title= "Posts - #{@user.name} (#{@user.home_city.name}, #{@user.home_city.state.upcase})"

%section.row
  %article.small-4.columns#search-social
    .left
      - # Search Form goes here
  %article.small-4.small-offset-4.columns.text-center#search-social
    %h1= @user.name
  %article.small-4.columns#search-social
    .right
      %a.button.square.facebook(href="https://www.facebook.com/puhshapp" target="_blank")
        %i.fa.fa-facebook.fa-2x
      %a.button.square.twitter(href="https://www.twitter.com/puhsh" target="_blank")
        %i.fa.fa-twitter.fa-2x
      %a.button.square.pinterest(href="https://www.pinterest.com/puhsh" target="_blank")
        %i.fa.fa-pinterest.fa-2x

%section.row
  %article.small-12.columns.text-center.item-container.js-grid-list.js-infinite#posts
    - @posts.each do |post|
      - image = post.post_images.first
      %article.item.post-grid-item#post(itemscope itemtype='http://schema.org/Product')
        %a(href="#{post_path(post, city_id: post.city.slug, user_id: post.user.slug)}")
          - if image.image_file_name.present?
            = image_tag image.image.url(:medium)
          - else
            = image_tag 'http://placehold.it/200x200'
          %p.title(itemprop='name')= post.title
          %p(itemprop='description')= post.description
          #price-container(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
            %span.label.price(itemprop='price')= post_price(post.item)
    = link_to_next_page @posts, 'Next', class: 'infinite-more-link hide'
