- content_for :title do
  %title= "Posts - #{@user.name} (#{@user.home_city.name}, #{@user.home_city.state.upcase})"
.row
  .small-12
    %ul.no-bullet
      - @posts.each do |post|
        %li
          = link_to post.title, post_path(@city.slug, @user.slug, post.slug)

    = paginate @posts
