- content_for :title do
  %title= "#{@user.name} (#{@user.home_city.name}, #{@user.home_city.state.upcase}) - Latest Items for Sale"

- content_for :og do
  = global_meta_tags title: "#{@user.name}, #{city_state_name(@user.home_city)}", 
                     description: "#{@user.name}, #{@user.location_description}, in #{city_state_name(@user.home_city)}", 
                     url: request.url, 
                     image: @posts.to_a.first.try { |x| x.post_images.first.image.url(:small) },
                     latitude: @user.latitude, 
                     longitude: @user.longitude, 
                     :street_address => @user.location_description, 
                     locality: @user.home_city.name, 
                     region: @user.home_city.state, 
                     country_name: 'USA', 
                     postal_code: @user.zipcode

- content_for :meta do
  %meta(name="keywords" content="#{seo_keywords([@user.name, city_state_name(@user.home_city)])}")
  - if @posts.present?
    %meta(name="description" content="Check out #{@user.name}'s items for sale on Puhsh in #{city_state_name(@user.home_city)}: #{title_list(@posts)}")
    %meta(name="revised" content="#{post_time_posted(@posts.first)}")
    %meta(name="summary" content="#{@user.name} posted items for sale in #{city_state_name(@user.home_city)}, State on Puhsh on #{post_time_posted(@posts.first)}.")
    %meta(name="abstract" content="#{@user.name} (#{city_state_name(@user.home_city)}) posted items for sale on Puhsh in: #{category_list(@posts)}")

  %meta(name="subject" content="#{@user.name}, #{city_state_name(@user.home_city)} Puhsh, Online Garage Sales")
  %meta(name="topic" content="#{@user.name}, #{city_state_name(@user.home_city)}")
  %meta(name="classification" content="Author, Creator, Seller, #{@user.name}")
  %meta(name="author" content="#{@user.name}, #{city_state_name(@user.home_city)}, #{request.url}")
  %meta(name="designer" content="#{@user.name}, #{city_state_name(@user.home_city)}")
  %meta(name="owner" content="#{@user.name}, #{city_state_name(@user.home_city)}")
  %meta(name="url" content="#{request.url}")
  %meta(name="identifier-URL" content="#{request.url}")
  %meta(name="category" content="Puhsh User")

- cover_image_url = @user.cover_image_url

%header.user-heading.js-cover-image(data-cover-image-url=cover_image_url)
  %section.row.inner
    %article.small-12.columns.user-info
      .user-details.with-avatar.clearfix
        = image_tag @user.other_avatar_urls[:large], class: 'avatar full'
        %span
          %a.pink(href="#{city_user_path(city_id: @user.home_city.slug, user_id: @user.slug)}")
            %h1(itemprop="author")
              = @user.name
              %span.gold.with-star.lighter= number_with_delimiter(@user.star_count)
          %a.pink(href="#{city_posts_path(city_id: @user.home_city.slug)}")
            %h4.subheader
              ="#{city_state_name(@user.home_city)} (#{@user.location_description})"
          %a.pink.hide-for-small-only(href="#{request.url}")= request.url

%section.row
  %article.small-12.columns.text-center.item-container.js-grid-list.js-infinite#posts
    - @posts.each do |post|
      - image = post.post_images.first
      %article.item.post-grid-item#post(itemscope itemtype='http://schema.org/Product')
        %a(href="#{post_path(post, city_id: post.city.slug, user_id: post.user.slug)}")
          - if image.image_file_name.present?
            = image_tag image.image.url(:medium)
          - else
            = image_tag 'http://placehold.it/200x200'
          %p.title(itemprop='name')= post.title
          %p(itemprop='description')= post.description
          #price-container(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
            %span.label.price(itemprop='price')= post_price(post)
    = link_to_next_page @posts, 'Next', class: 'infinite-more-link hide'
