- content_for :title do
  %title= "United States"

- content_for :header do
  = render 'shared/header'

%section.row
  %article.small-12.medium-4.columns#search
    %form(action=search_states_path)
      .row
        .medium-10.small-12.columns
          = text_field_tag 'query', nil, type: 'search', results: 0
  %article.small-12.medium-5.small-only-text-center.columns
    %h3 Select a State to View Cities
  %article.small-3.columns#social

%section.row
  %article.small-12.columns
    %h1 UNITED STATES
    .row
      - @states.each_slice(22) do |states|
        .small-12.medium-4.columns
          %ul.no-bullet.list
            - states.each do |state|
              %li.column
                %a(href="#{state_path(name: state.full_state_name.downcase)}")
                  %strong= state.full_state_name
