- content_for :title do
  %title= "Search Results for #{@term}"

- content_for :header do
  = render 'shared/header'

%section.row
  %article.small-3.columns#search
  %article.small-6.small-offset-4.columns
  %article.small-3.columns#social

%section.row
  %article.small-12.columns
    %h1= "Search Results for #{@term}"
    .row
      - @cities.each_slice(25) do |cities|
        .small-12.columns(class="#{column_class(@cities)}")
          %ul.no-bullet.list
            - cities.each do |city|
              %li.column
                %strong= link_to city_state_name(city), city_path(name: city.full_state_name, city_name: city.name)

%section.row
  %article.small-12.columns.pagination-centered
    = paginate @cities
