- content_for :title do
  %title= "Search Results for #{@term}"

- content_for :header do
  = render 'shared/header'

%section.row
  %article.small-12.medium-4.columns#search
    %form(action=search_states_path)
      .row
        .medium-10.small-12.columns
          = text_field_tag 'query', @term, type: 'search', results: 0
  %article.small-12.medium-5.small-only-text-center.columns
    %h3= "Search Results for '#{@term}'"
  %article.small-3.columns#social

%section.row
  %article.small-12.columns
    .row
      - @cities.each_slice(25) do |cities|
        .small-12.columns(class="#{column_class(@cities)}")
          %ul.no-bullet.list
            - cities.each do |city|
              %li.column
                %strong= link_to city_state_name(city), city_path(name: city.full_state_name, city_name: city.name)

%section.row
  %article.small-12.columns.pagination-centered
    = paginate @cities
