- content_for :title do
  %title= "Posts"

- content_for :header do
  = render 'shared/header'


- content_for :scripts do
  // TODO This crap needs to be pulled in to an actual JS file
  :javascript
    $(function() {
      $(".js-grid-list").masonry({columnWidth: 220, itemSelector: '.item', gutter: 20, transitionDuration: '0.4s'});
      $('.js-infinite').waypoint('infinite', {
        items: '.item',
        onBeforePageLoad: function() {
          $('.item').addClass('loaded');
        },
        onAfterPageLoad: function() {
          $('.js-grid-list').masonry('appended', $('.item').not('.loaded'));
        }
      });
    });

%section.row
  %article.small-12.columns.text-center.item-container.js-grid-list.js-infinite#posts
    - @posts.each do |post|
      - image = post.post_images.first
      %article.item#post(itemscope itemtype='http://schema.org/Product')
        - if image.image_file_name.present?
          = image_tag image.image.url(:medium)
        - else
          = image_tag 'http://placehold.it/200x200'
        %p.title(itemprop='name')= post.title
        %p(itemprop='description')= post.description
        #price-container(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
          %span.label.price(itemprop='price')= post_price(post.item)
    = link_to_next_page @posts, 'Next', class: 'infinite-more-link hide'
