- content_for :og do
  = global_meta_tags title: @post.title, description: "#{@post.description}, #{@user.location_description}, in #{city_state_name(@user.home_city)}", url: request.url, image: @post.post_images.first.image.url(:small), latitude: @user.latitude, longitude: @user.longitude, :street_address => @user.location_description, locality: @user.home_city.name, region: @user.home_city.state, country_name: 'USA', postal_code: @user.zipcode

- content_for :title do
  %title= "#{@post.title} - #{@user.name} (#{@user.home_city.name}, #{@user.home_city.state.upcase})"

- content_for :meta do
  %meta(name="keywords" content="#{seo_keywords(@post.title)}")
  %meta(name="description" content="The latest item for sale from #{@user.name} in #{city_state_name(@user.home_city)}: #{@post.title}: #{@post.description}, #{post_time_posted(@post)}")
  %meta(name="subject" content="#{@post.title}, #{post_price(@post.item)}, #{city_state_name(@user.home_city)}, #{@user.name}, Online Garage Sale")
  - if @last_question
    %meta(name="revised" content="#{@last_question.created_at}")
  %meta(name="abstract" content="#{@post.title}, #{@post.description}, #{@user.name}, #{city_state_name(@user.home_city)}, #{@post.category_name.value}, #{@post.subcategory_name.value}")
  %meta(name="topic" content= "#{@post.title}, #{@post.category_name.value}, #{@post.subcategory_name.value}")
  %meta(name="summary" content="#{@user.name} just posted #{@post.title} for sale in #{city_state_name(@user.home_city)} on Puhsh on #{post_time_posted(@post)}")
  %meta(name="Classification" content="Product")
  %meta(name="author" content="#{@user.name}, #{city_state_name(@user.home_city)}, #{city_user_url(user_id: @user.slug, city_id: @user.home_city.slug)}")
  %meta(name="designer" content="#{@user.name}, #{city_state_name(@user.home_city)}")
  %meta(name="copyright" content="#{post_time_posted(@post)}")
  %meta(name="owner" content="#{@user.name}, #{city_state_name(@user.home_city)}")
  %meta(name="url" content="#{request.url}")
  %meta(name="identifier-URL" content="#{request.url}")
  %meta(name="category" content="#{@post.category_name.value} #{@post.subcategory_name.value}")
  %meta(name="twitter:card" content="product")
  %meta(name="twitter:title" content="#{@post.title}")
  %meta(name="twitter:description" content="#{@post.description}")
  %meta(name="twitter:image" content="#{@post.post_images.first.image.url(:medium)}")

  - if @post.item 
    %meta(name="twitter:data1" content="#{post_price(@post.item)}")
    %meta(name="twitter:label1" content="Price")

  %meta(name="twitter:data2" content="#{city_state_name(@user.home_city)}")
  %meta(name="twitter:label2" content="Location")

%section.row
  %article.small-12.medium-9.content-container.columns.end
    %article.content#post
      %h1=@post.title
      %h4=@post.description
