- content_for :og do
  = global_meta_tags title: @post.title, description: @post.description, url: request.url, image: @post.post_images.first.image.url(:small), latitude: @user.latitude, longitude: @user.longitude

- content_for :title do
  %title= "#{@post.title} - #{@user.name} (#{@user.home_city.name}, #{@user.home_city.state.upcase})"

- content_for :share_links do
  %a.button.facebook.with-share-text(onclick="FB.ui({method:'feed', link: '#{facebook_share_this_url(@post)}'}, function(response){});")
    %i.fa.fa-facebook.fa-3x
    %span Share This
  %a.button.twitter(href="#{twitter_tweet_this_url(@post)}")
    %i.fa.fa-twitter.fa-2x
  %a.button.pinterest(href="#{pinterest_pin_it_url(@post)}")
    %i.fa.fa-pinterest.fa-2x


#post(itemscope itemtype='http://schema.org/Product')
  .row#images
    .small-12.large-12.columns
      %ul.image-list.clearing-thumbs(class="#{post_image_list_class(@image_count)}" data-clearing)
        - @post.post_images.each do |image|
          %li
            %a(href="#{image.image.url}")
              = image_tag image.image.url(:medium)

  .row#heading
    .small-12.columns.text-center
      %h1(itemprop='name')
        = @post.title
        #price-container(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
          - if @post.sold?
            %span.price-inline(itemprop='price') SOLD
          - else
            %span.price-inline(class="#{post_item_price_class(@post.item)}" itemprop='price')= post_price(@post.item)

  .row#seller-info
    .small-12.medium-6.small-centered.medium-centered.columns
      .user-info.with-posted-by
        = image_tag @post.user.other_avatar_urls[:large], class: 'avatar'
        %span.posted-by Posted By:
        %h3.name
          %strong= @post.user.name
        %h3.gold.star-count
          %strong= @post.user.star_count

  .row#post-details
    .small-12.medium-6.small-centered.medium-centered.columns
      %ul.no-bullet.detailed-list
        %li 
          %p.text-label
            %strong Posted:
          %p= post_time_posted(@post)
        %li 
          %p.text-label
            %strong Category:
          %p= post_category_display_name(@post)
        %li 
          %p.text-label
            %strong Location:
          %p= post_location_name(@post.user)
        %li
          %p.text-label
            %strong Pick up: 
          %p 
            = post_pickup_location_name(@post)
            %a(href='#' data-reveal-id='pickup-help' data-reveal)
              %i.fa.fa-question-circle
        %li
          %p.text-label
            %strong Details:
          %span(itemprop='description')= @post.description

  = render 'shared/app_store_info'
  = render 'shared/modals/pickup_help'
