- content_for :nav do
  = render 'shared/nav'

#post
  .row#images
    .small-12.large-12.columns
      %ul.image-list(class="#{post_image_list_class(@image_count)}")
        - @post.post_images.each do |image|
          %li
            = image_tag image.image.url

  .row#heading
    .small-12.columns.text-center
      %h1 
        = @post.title
        %span.price-inline(class="#{post_item_price_class(@post.item)}")= post_price(@post.item)

  .row#seller-info
    .small-12.medium-6.small-centered.medium-centered.columns
      .user-info.with-posted-by
        = image_tag @post.user.other_avatar_urls[:large], class: 'avatar'
        %span.posted-by Posted By:
        %h3.name
          %strong= @post.user.name
        %h3.gold.star-count
          %strong= @post.user.star_count

  .row#post-details
    .small-12.medium-6.small-centered.medium-centered.columns
      %ul.no-bullet.detailed-list
        %li 
          %span.text-label
            %strong Posted:
          %span= post_time_posted(@post)
        %li 
          %span.text-label
            %strong Category:
          %span= post_category_display_name(@post)
        %li 
          %span.text-label
            %strong Location:
          %span= post_location_name(@post.user)
        %li 
          %span.text-label
            %strong Pick up: 
          %span= post_pickup_location_name(@post)
        %li 
          %span.text-label
            %strong Details:
          %span= @post.description
