- content_for :og do
  = global_meta_tags title: @post.title, description: "#{@post.description}, #{@user.location_description}, in #{city_state_name(@user.home_city)}", url: request.url, image: @post.post_images.to_a.first.image.url(:small), latitude: @user.latitude, longitude: @user.longitude, :street_address => @user.location_description, locality: @user.home_city.name, region: @user.home_city.state, country_name: 'USA', postal_code: @user.zipcode

- content_for :title do
  %title= "#{@post.title} - #{@user.name} (#{@user.home_city.name}, #{@user.home_city.state.upcase})"

- content_for :meta do
  %meta(name="keywords" content="#{seo_keywords(@post.title)}")
  %meta(name="description" content="The latest item for sale from #{@user.name} in #{city_state_name(@user.home_city)}: #{@post.title}: #{@post.description}, #{post_time_posted(@post)}")
  %meta(name="subject" content="#{@post.title}, #{post_price(@post.item)}, #{city_state_name(@user.home_city)}, #{@user.name}, Online Garage Sale")
  - if @last_question
    %meta(name="revised" content="#{@last_question.created_at}")
  %meta(name="abstract" content="#{@post.title}, #{@post.description}, #{@user.name}, #{city_state_name(@user.home_city)}, #{@post.category_name.value}, #{@post.subcategory_name.value}")
  %meta(name="topic" content= "#{@post.title}, #{@post.category_name.value}, #{@post.subcategory_name.value}")
  %meta(name="summary" content="#{@user.name} just posted #{@post.title} for sale in #{city_state_name(@user.home_city)} on Puhsh on #{post_time_posted(@post)}")
  %meta(name="Classification" content="Product")
  %meta(name="author" content="#{@user.name}, #{city_state_name(@user.home_city)}, #{city_user_url(user_id: @user.slug, city_id: @user.home_city.slug)}")
  %meta(name="designer" content="#{@user.name}, #{city_state_name(@user.home_city)}")
  %meta(name="copyright" content="#{post_time_posted(@post)}")
  %meta(name="owner" content="#{@user.name}, #{city_state_name(@user.home_city)}")
  %meta(name="url" content="#{request.url}")
  %meta(name="identifier-URL" content="#{request.url}")
  %meta(name="category" content="#{@post.category_name.value} #{@post.subcategory_name.value}")
  %meta(name="twitter:card" content="product")
  %meta(name="twitter:title" content="#{@post.title}")
  %meta(name="twitter:description" content="#{@post.description}")
  %meta(name="twitter:image" content="#{@post.post_images.to_a.first.image.url(:medium)}")

  - if @post.item 
    %meta(name="twitter:data1" content="#{post_price(@post.item)}")
    %meta(name="twitter:label1" content="Price")

  %meta(name="twitter:data2" content="#{city_state_name(@user.home_city)}")
  %meta(name="twitter:label2" content="Location")

- content_for :header do
  = render 'shared/header'

%section.row
  %article.small-12.medium-9.content-container.columns
    %article.content#post(itemscope itemtype='http://schema.org/Product')
      .padded
        %ul.clearing-thumbs#post-images(class="#{post_image_list_class(@image_count)}" data-clearing)
          - @post.post_images.each do |image|
            %li
              %a(href="#{image.image.url}")
                = image_tag image.image.url(:medium), class: 'photo'
        #title-price.clearfix
          .left
            %h1.title(itemprop='name')= @post.title
          .right
            %span.label.price.jumbo.shadowed(itemprop='price')= post_price(@post.item)

        %p.description(itemprop='description')= @post.description
        .user-details.with-avatar.clearfix
          = image_tag @user.other_avatar_urls[:large], class: 'avatar full'
          %span
            Posted By:
          #user-name
            %a(href="#{city_user_path(city_id: @user.home_city.slug, user_id: @user.slug)}")
              %h2
                %small=@user.name
          #star-count
            %h3.gold.with-star= @user.star_count

        #post-details
          %ul.detailed-list.no-bullet
            %li
              %p.text-label
                %strong Share:
              %p.pink.with-links
                %a.button.square.facebook.with-share-text(onclick="FB.ui({method:'feed', link: '#{facebook_share_this_url(@post)}'}, function(response){});")
                  %i.fa.fa-facebook
                %a.button.square.twitter(href="#{twitter_tweet_this_url(@post)}")
                  %i.fa.fa-twitter
                %a.button.square.pinterest(href="#{pinterest_pin_it_url(@post)}")
                  %i.fa.fa-pinterest
                = bitly_url(request.url)
            %li
              %p.text-label
                %strong Posted:
              %p= post_time_posted(@post)
            %li
              %p.text-label
                %strong Category:
              %p= post_category_display_name(@post)
            %li
              %p.text-label
                %strong Location:
              %p
                = link_to post_location_name(@user), city_posts_path(city_id: @post.city.slug)
            %li
              %p.text-label
                %strong Pick up:
              %p
                = post_pickup_location_name(@post)
                -# %a(href='#' data-reveal-id='pickup-help' data-reveal)
                -#   %i.fa.fa-question-circle

      %article.content.no-border.recent-questions
        %ul.content-list.no-bullet
          - @questions.each do |question|
            - user = question.user
            %li(itemscope itemtype='http://schema.org/Comment')
              .padded
                .user-details.with-avatar.clearfix
                  = image_tag user.other_avatar_urls[:large], class: 'avatar full'
                  %span
                    %a.pink(href="#{city_user_path(city_id: user.home_city.slug, user_id: user.slug)}")
                      %h4(itemprop="author")
                        = user.name
                        %span.gold.with-star= user.star_count
                  #content-timestamp
                    %h3
                      %small(itemprop="comment")= question.content
                    %h3
                      %small(itemprop="dateCreated")
                        = question_time_asked(question)

      %article.content.shaded.no-top-border-radius#download-app
        .app-download-info.padded
          .text-center.clearfix
            %p.heading 
              Install the Puhsh App to Buy & Sell:
            %a(href=ios_app_store_url target='_blank')
              = image_tag 'app-store-badge-ios.png', class: 'app-store-badge marginless'
            %a(href=android_app_store_url target='_blank')
              = image_tag 'app-store-badge-android.png', class: 'app-store-badge marginless'

  %aside.hide-for-small-only.medium-3.item-container.columns.text-center.no-padding#related-posts
    - @related_posts.each do |post|
      - image = post.post_images.to_a.first
      %article.item.post-grid-item#post(itemscope itemtype='http://schema.org/Product')
        %a(href="#{post_path(post, city_id: post.city.slug, user_id: post.user.slug)}")
          - if image.image_file_name.present?
            = image_tag image.image.url(:medium)
          - else
            = image_tag 'http://placehold.it/200x200'
        %p.title(itemprop='name')= post.title
        %p(itemprop='description')= post.description
        #price-container(itemprop='offers' itemscope itemtype='http://schema.org/Offer')
          %span.label.price(itemprop='price')= post_price(post.item)


#pickup-help.reveal-modal(data-reveal)
  %a.close-reveal-modal &#215;
  -# = pickup_instructions.html_safe
