!!! 5
%html
  %head
    = yield :title
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name='apple-itunes-app' content='app-id=761535377')
    %meta(name="copyright" content="#{Date.today.year}, Puhsh Inc")
    %meta(name="language" content="English")
    %meta(name="robots" content="index,follow")
    %meta(name="reply-to" content="info@puhsh.com")
    %meta(name="rating" content="safe for kids")
    %meta(name="revisit-after" content="1 day")
    %meta(name="coverage" content="Worldwide")
    %meta(name="distribution" content="Global")
    %meta(name="directory" content="submission")
    %meta(name="twitter:app:name:iphone" content="Puhsh App")
    %meta(name="twitter:app:id:iphone" content="761535377")
    %meta(name="twitter:app:url:iphone" content="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=761535377&mt=8#")
    %meta(name="twitter:site" content="@puhsh")

    = yield :meta

    %meta(property='og:site_name' content='Puhsh')
    %meta(property='og:type' content='website')
    = yield :og

    = favicon_link_tag 'favicon.ico'

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"

    = javascript_include_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = yield :scripts
    = csrf_meta_tags
  %body
    #fb-root
    #peek-bar.show-for-large-up
      = render 'peek/bar'
    - unless @hide_header
      %section.heading.global-image
        .container
          = yield :header
    %section(role='main')
      .container
        = yield

    = render 'shared/facebook_sdk'
    = render 'shared/google'
