!!! 5
%html(ng-app='puhshApp')
  %head
    %title= "Puhsh::#{controller_name.capitalize}"
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = favicon_link_tag '/favicon.ico'

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"

    = javascript_include_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
  %body(ng-controller="#{controller.class}")
    %header
      #peek-bar.show-for-large-up
        = render 'peek/bar'
      = yield :nav
    %section#main
      = yield
