!!! 5
%html
  %head
    %title= "Puhsh::#{controller_name.capitalize}"
    %meta(name="viewport" content="width=device=width, initial-scale=1.0")
    = favicon_link_tag '/faveicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav
    %section#main
      = yield
